<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Admin panel</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #user-mode-div:hover {
            background: #c4e0ff;
        }
    </style>


</head>
<body>
<header class="p-2 bg-dark">
    <div class="row">
        <div class="col-sm">
          <span th:text="${principal.email}" class="h4 text-white pl-3 align-middle"></span>
            <span class="text-white align-middle" style="font-size: x-large">with roles:</span>
            <span th:each="role : ${principal.authorities}">
                <span th:text="${role.authority.substring(5)}" style="font-size: x-large" class="text-white align-middle"></span>
            </span>
        </div>
        <div class="col-sm text-right">
            <div>
                <a href="/logout" class="pr-2 align-middle text-muted" style="font-size: large">Logout</a>
            </div>
        </div>

    </div>
</header>
<div class="row">


    <!-- Left nav menu-->
    <div class="column  mt-3" style="width: 15rem">
        <div class="bg-primary py-3 pl-4 w-100" style="border-radius: 5px">
            <a th:href="@{/admin}" class="text-white ml-2">Admin</a>
        </div>
        <div class="py-3 pl-4 w-100" id="user-mode-div" th:onclick="'window.location = \'' + @{/user} + '\''" style="border-radius: 5px; cursor: pointer">
            <span class="ml-2">User</span>
        </div>
    </div>


    <!-- Main window-->
    <div class="col-sm p-4" style="height: 100vh; background: #effff2">
        <h1>Admin panel</h1>

        <!--Nav tabs-->
        <ul class="nav nav-tabs pt-2">
            <li class="nav-item">
                <a class="nav-link active" id="admin-panel-link"  style="cursor: pointer" onclick="showAdminPanel()" aria-current="page">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-user-link" style="cursor: pointer" onclick="hideAdminPanel()">New User</a>
            </li>
        </ul>

        <!--All users table-->
        <div class="border rounded bg-white" id="admin-panel">
            <div class="p-3 rounded-top" style="background: #F7F7F7">
                <span class="h5">All users</span>
            </div>
            <div class="p-3">
                <table class="table table-striped" id="users-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Enabled</th>
                        <th>Roles</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="users-table-body">

                    </tbody>
                </table>
            </div>
        </div>

        <!--User add panel-->
        <div class="border rounded bg-white pb-4" id="user-add-panel" style="display: none">
            <div class="p-3 rounded-top" style="background: #F7F7F7">
                <span class="h5">Add new user</span>
            </div>
            <div class="container mt-3 text-center" style="max-width: 30rem">
                <form id="newUserForm">
                    <div class="form-group">
                        <label class="h5">First Name:</label>
                        <input type="text" id="newUserFirstName" class="form-control" placeholder="First Name" required>
                    </div>

                    <div class="form-group">
                        <label class="h5">Last Name:</label>
                        <input type="text" id="newUserLastName" class="form-control" placeholder="Last Name">
                    </div>


                    <div class="form-group">
                        <label class="h5">Age:</label>
                        <input type="number" id="newUserAge" class="form-control" placeholder="Age" min="0" max="127" required>
                    </div>

                    <div class="form-group">
                        <label class="h5" >Email:</label>
                        <input type="email" id="newUserEmail" class="form-control" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <label class="h5" >Password:</label>
                        <input type="password" id="newUserPassword" class="form-control" placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <label class="h5 mb-0">Roles:</label>
                        <p>(multiple is OK)</p>
                        <select multiple id="newUserRoles" class="form-control" required>
                            <option th:each="role : ${roles_list}" th:value="${role}" th:text="${role.authority.substring(5)}">
                        </select>
                    </div>
                    <button type="button" id="addNewUserBtn" class="btn btn-success btn-lg">Add new user</button>
                </form>


            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">

                    <div class="form-group1">
                        <label for="id-field-edit" class="h5">Id:</label>
                        <input type="text" class="form-control" id="id-field-edit" name="id" readonly>
                    </div>
                    <div class="form-group1">
                        <label for="first-name-edit" class="h5">First Name:</label>
                        <input type="text" class="form-control" id="first-name-edit" name="firstName" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <label for="last-name-edit" class="h5">Last Name:</label>
                        <input type="text" class="form-control" id="last-name-edit" name="lastName" placeholder="Last Name">
                    </div>


                    <div class="form-group">
                        <label for="age-edit" class="h5">Age:</label>
                        <input type="number" class="form-control" id="age-edit" name="age" placeholder="Age">
                    </div>

                    <div class="form-group">
                        <label for="email-edit" class="h5" >Email:</label>
                        <input type="email" class="form-control" id="email-edit" name="email" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <label for="password-edit" class="h5" >Change password:</label>
                        <input type="password" class="form-control" id="password-edit" name="password" placeholder="Enter new password if necessary">
                    </div>

                    <div class="form-check my-4">
                        <input class="form-check-input" style="width: 20px; height: 20px" type="checkbox" name="isEnabled" id="enabled-edit">
                        <label class="pl-1 form-check-label h5" for="enabled-edit">
                            User Enabled
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="roles-edit" class="h5 mb-0">Roles:</label>
                        <p>(multiple is OK)</p>
                        <select multiple name="authorities" class="form-control" id="roles-edit" required>
                            <option th:each="role : ${roles_list}" th:value="${role}" th:text="${role.authority.substring(5)}">
                        </select>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="edit-user-btn" data-dismiss="modal" class="btn btn-primary">Save</button>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group1">
                        <label for="id-field-del" class="h5">Id:</label>
                        <input type="text" class="form-control" id="id-field-del" readonly>
                    </div>
                    <div class="form-group1">
                        <label for="first-name-del" class="h5">First Name:</label>
                        <input type="text" class="form-control" id="first-name-del" readonly>
                    </div>

                    <div class="form-group">
                        <label for="last-name-del" class="h5">Last Name:</label>
                        <input type="text" class="form-control" id="last-name-del" readonly>
                    </div>


                    <div class="form-group">
                        <label for="age-del" class="h5">Age:</label>
                        <input type="number" class="form-control" id="age-del" readonly>
                    </div>

                    <div class="form-group">
                        <label for="email-del" class="h5" >Email:</label>
                        <input type="email" class="form-control" id="email-del" readonly>
                    </div>

                    <div class="form-group">
                        <label for="roles-del" class="h5 mb-0">Roles:</label>
                        <select multiple name="authorities" class="form-control" id="roles-del" readonly>

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="delete-user-btn" data-dismiss="modal" class="btn btn-danger" >Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Bootstrap js files -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    $('#editModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget)
        let modal = $(this);
        let userid = button.data('userid');
        let firstname = button.data('firstname');
        let lastname = button.data('lastname');
        let age = button.data('age');
        let email = button.data('email');
        let enabled = button.data('enabled');
        let roles = button.data('roles');

        modal.find('#id-field-edit').val(userid);
        modal.find('#first-name-edit').val(firstname);
        modal.find('#last-name-edit').val(lastname);
        modal.find('#age-edit').val(age);
        modal.find('#email-edit').val(email);
        if (enabled == true) {
            document.getElementById("enabled-edit").checked = true;
        } else {
            document.getElementById("enabled-edit").checked = false;
        }

        const select = document.querySelector('#roles-edit').getElementsByTagName('option');
        for (let i = 0; i < select.length; i++) {
            if (roles.includes(select[i].value)) select[i].selected = true;
        }
    })
</script>
<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget)
        let modal = $(this);
        let userid = button.data('userid');
        let firstname = button.data('firstname');
        let lastname = button.data('lastname');
        let age = button.data('age');
        let email = button.data('email');
        let roles = String(button.data('roles')).replace(/[\[\]']/g,'');
        let rolesArr = roles.split(',');


        modal.find('#id-field-del').val(userid);
        modal.find('#first-name-del').val(firstname);
        modal.find('#last-name-del').val(lastname);
        modal.find('#age-del').val(age);
        modal.find('#email-del').val(email);

        let roles_select_elem = document.getElementById('roles-del');
        removeOptions(roles_select_elem);

        for (let i = 0; i < rolesArr.length; i++) {
            let opt = document.createElement('option');
            opt.innerHTML = rolesArr[i].substring(5);
            roles_select_elem.appendChild(opt);
        }

        function removeOptions(selectElement) {
            var i, L = selectElement.options.length - 1;
            for(i = L; i >= 0; i--) {
                selectElement.remove(i);
            }
        }
    })

</script>
<script>
    async function getAllUsers() {
        const res = await fetch('http://localhost:8080/getusers');
        const users = await res.json();

        users.forEach(user => usersToHTML(user));
    }
    window.addEventListener('DOMContentLoaded', getAllUsers);

    function usersToHTML({id, firstName, lastName, age, email, enabled, authorities}) {
        const usersList = document.getElementById('users-table-body');

        usersList.insertAdjacentHTML('beforeend', `<tr id="tr-${id}">` +
            `<td>${id}</td>` +
            `<td>${firstName}</td>` +
            `<td>${lastName}</td>` +
            `<td>${age}</td>` +
            `<td>${email}</td>` +
            `<td>${enabled}</td>` +
            `<td>${authoritiesToString(authorities)}</td>` +
            `<td><input type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" data-userid="${id}" data-firstname="${firstName}" data-lastname="${lastName}" data-age="${age}" data-email="${email}" data-enabled="${enabled}" data-roles="${authorities}" value="Edit"/></td>` +
            `<td><input type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-userid="${id}" data-firstname="${firstName}" data-lastname="${lastName}" data-age="${age}" data-email="${email}" data-roles="${authorities}" value="Delete"/></td>` +
            '</tr>');
    }

    const del_btn = document.getElementById('delete-user-btn');
    del_btn.addEventListener('click', () => {
        let del_user_id = document.getElementById('id-field-del').value;
        del_user(del_user_id);
    });

    function del_user(id) {
        fetch(`http://localhost:8080/admin`, {
            method: 'DELETE',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify({id})
        }).
        then(function(response) {
            if (response.status === 204) {
                let table = document.getElementById("users-table");
                let rowIndex = document.getElementById(`tr-${id}`).rowIndex;
                table.deleteRow(rowIndex);
            } else {
                alert('Something goes wrong.');
            }
        });
    }

    const edit_btn = document.getElementById('edit-user-btn');
    edit_btn.addEventListener('click', async () => {
        let id = document.getElementById('id-field-edit').value;
        let firstname = document.getElementById('first-name-edit').value;
        let lastname = document.getElementById('last-name-edit').value;
        let age = document.getElementById('age-edit').value;
        let email = document.getElementById('email-edit').value;
        let password = document.getElementById('password-edit').value;
        let enabled = document.getElementById('enabled-edit').checked;
        let authorities = $('#roles-edit').val();
        edit_user(id, firstname, lastname, age, email, password, enabled, authorities);
    });

    function edit_user(id, firstName, lastName, age, email, password, enabled, authorities) {
        fetch(`http://localhost:8080/admin`, {
            method: 'PATCH',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify({id, firstName, lastName, age, email, password, enabled, authorities})
        }).then(function(response) {
            if (response.ok) {
                response.json()
                    .then(data => update_user(data));
            }
        });
    }

    function update_user({id, firstName, lastName, age, email, enabled, authorities}) {
        let trUser = document.getElementById(`tr-${id}`);

        trUser.innerHTML = `<td>${id}</td>` +
            `<td>${firstName}</td>` +
            `<td>${lastName}</td>` +
            `<td>${age}</td>` +
            `<td>${email}</td>` +
            `<td>${enabled}</td>` +
            `<td>${authoritiesToString(authorities)}</td>` +
            `<td><input type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal" data-userid="${id}" data-firstname="${firstName}" data-lastname="${lastName}" data-age="${age}" data-email="${email}" data-enabled="${enabled}" data-roles="${authorities}" value="Edit"/></td>` +
            `<td><input type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-userid="${id}" data-firstname="${firstName}" data-lastname="${lastName}" data-age="${age}" data-email="${email}" data-roles="${authorities}" value="Delete"/></td>`;
    }

    function authoritiesToString(authorities) {
        let roles_arr = [];
        for (let i = 0; i < authorities.length; i++) {
            roles_arr.push(authorities[i].substring(5));
        }
        roles_arr = roles_arr.toString().replaceAll(",", " ");
        return roles_arr;
    }

    function hideAdminPanel() {
        document.getElementById('admin-panel').style.display = "none";
        document.getElementById('admin-panel-link').classList.remove('active');
        document.getElementById('admin-panel-link').removeAttribute('aria-current');
        document.getElementById('new-user-link').classList.add('active');
        document.getElementById('new-user-link').setAttribute('aria-current', 'page');
        document.getElementById('user-add-panel').style.display = "block";

    }

    function showAdminPanel() {
        document.getElementById('user-add-panel').style.display = "none";
        document.getElementById('admin-panel').style.display = "block";
        document.getElementById('admin-panel-link').classList.add('active');
        document.getElementById('admin-panel-link').setAttribute('aria-current', 'page');
        document.getElementById('new-user-link').classList.remove('active');
        document.getElementById('new-user-link').removeAttribute('aria-current');
    }

    const new_usr_btn = document.getElementById('addNewUserBtn');
    let newUserForm = document.getElementById('newUserForm');
    new_usr_btn.addEventListener('click', async () => {
        if (newUserForm.checkValidity()) {
            let firstname = document.getElementById('newUserFirstName').value;
            let lastname = document.getElementById('newUserLastName').value;
            let age = document.getElementById('newUserAge').value;
            let email = document.getElementById('newUserEmail').value;
            let password = document.getElementById('newUserPassword').value;
            let authorities = $('#newUserRoles').val();
            create_user(firstname, lastname, age, email, password, authorities);
        } else {
            newUserForm.classList.add('was-validated');
        }
    })

    function create_user(firstName, lastName, age, email, password, authorities) {
        fetch('http://localhost:8080/admin', {
            method: 'POST',
            headers: {'Content-type': 'application/json'},
            body: JSON.stringify({firstName, lastName, age, email, password, authorities})
        }).then(function (response) {
            if (response.status === 201) {
                document.getElementById('newUserFirstName').value = '';
                document.getElementById('newUserLastName').value = '';
                document.getElementById('newUserAge').value = '';
                document.getElementById('newUserEmail').value = '';
                document.getElementById('newUserPassword').value = '';
                newUserForm.classList.remove('was-validated');
                let select = document.getElementById('newUserRoles');
                for (let i = 0; i < select.length; i++) {
                    select[i].selected = false;
                }
                response.json().then(data => {
                    usersToHTML(data);
                })
                alert('User created.')
            } else {
                alert('Email is busy.');
            }
        })
    }
</script>

</body>
</html>