<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:font-weight="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <title>User panel</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #admin-mode-div:hover {
            background: #c4e0ff;
        }
    </style>
</head>
<body>
<header class="p-2 bg-dark">
    <div class="row">
        <div class="col-sm">
            <span th:text="${principal.email}" class="h4 text-white pl-3 align-middle"></span>
            <span class="text-white align-middle" style="font-size: x-large">with roles:</span>
            <span th:each="role : ${principal.authorities}">
                <span th:text="${role.authority.substring(5)}" style="font-size: x-large" class="text-white align-middle"></span>
            </span>
        </div>
        <div class="col-sm text-right">
            <div>
                <a href="/logout" class="pr-2 align-middle text-muted" style="font-size: large">Logout</a>
            </div>
        </div>

    </div>
</header>

<div class="row">

    <div class="column mt-3" style="width: 15rem">
        <div class="py-3 pl-4 w-100" id="admin-mode-div" style="border-radius: 5px; cursor: pointer" th:onclick="'window.location = \'' + @{/admin} + '\''" th:if="${principal.authorities.contains(admin_role)}">
            <span class="ml-2">Admin</span>
        </div>
        <div class="bg-primary  py-3 pl-4 w-100" style="border-radius: 5px">
            <a th:href="@{/user}" class="text-white ml-2">User</a>
        </div>
    </div>

    <div class="col-sm p-4" style="height: 100vh; background: #effff2">
        <h1>User information-page</h1>
        <div class="border rounded bg-white mt-3">
            <div class="p-3 rounded-top" style="background: #F7F7F7">
                <span class="h5">About user</span>
            </div>
            <div class="p-3">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${principal.id}"></td>
                        <td th:text="${principal.firstName}"></td>
                        <td th:text="${principal.lastName}"></td>
                        <td th:text="${principal.age}"></td>
                        <td th:text="${principal.email}"></td>
                        <td>
                            <span th:each="role : ${principal.authorities}">
                                <span th:text="${role.authority.substring(5)}" class="align-middle"></span>
                            </span>
                        </td>
                    </tbody>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>


</body>
</html>


